<mat-card>
  <mat-card-title> Widgets </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item
        mat-list-item
        class="mat-list-option"
        *ngFor="let widget of widgets"
        (click)="selectWidget(widget)"
      >
        <span matLine>{{ widget.Title }}</span>
        <span matLine>{{ widget.Description }}</span>
        <span matLine>{{ widget.Email }}</span>
      </mat-list-item>
    </mat-list>

    <!-- <mat-action-list>
      <button
        mat-list-item
        *ngFor="let widget of widgets"
        (click)="selectWidget(widget)"
      >
        Save
      </button>
    </mat-action-list> -->
  </mat-card-content>
</mat-card>
